<?xml version="1.0"?>
<BaseConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <InstallDir>/</InstallDir>
  <DataBaseType>SqlDAL</DataBaseType>
  <SqlConnStr>Data Source=127.0.0.1;User ID=sa;Password=Lyh079101;Initial Catalog=kesionicms35_enterprise;Pooling=true;</SqlConnStr>
  <SqlNowStr>getdate()</SqlNowStr>
  <AllowSubDomain>false</AllowSubDomain>
  <RootDomain>kesion.com</RootDomain>
  <ManageByMobileCode>false</ManageByMobileCode>
  <ManageLoginAllowMobile>13605040000</ManageLoginAllowMobile>
</BaseConfigInfo>