/*通用*/
.com-content{margin: auto;position: relative;box-shadow: 0 0 10px #000;min-width: 320px;max-width: 540px;}
.list{position: relative;}
.list .more{position: absolute;right: 10px;}
/*焦点图*/
	.slideBox{ position:relative; width:100%;  height:180px; overflow:hidden; margin:0 auto; }
	.slideBox .hd{ position:absolute; width:100%;  height:27px; bottom:0; left:0; z-index:1; }
	.slideBox .hd img{ width:11px;  }
	.slideBox .prev,.slideBox .next{ position:absolute; left:0; top:0; display:block; width:23px; height:27px; line-height:27px; text-align:center;   }
	.slideBox .next{ left:auto; right:0;}
	.slideBox .bd{ position:relative; z-index:0; }
	.slideBox .bd li{ position:relative; }
	.slideBox .bd li img{ width:100%;  height:180px; display:block;   }
	.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
	.slideBox .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; text-indent:10px; height:27px; line-height:27px;  text-align:center;  color:#fff; background-color:rgba(0,0,0,0.7); ; 
	}
/*多图滑动*/	
	.picScroll{ margin:10px auto; text-align:center;  }
	.picScroll .bd ul{ width:100%;  float:left; padding-top:10px;  }
	.picScroll .bd li{ width:50%; float:left; font-size:14px; text-align:center;  }
	.picScroll .bd li a{display: block;text-align: center;line-height: 30px; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
	.picScroll .bd li img{ width:95%; height:140px;  background:url(images/loading.gif) #fff center center no-repeat;  }

	.picScroll .hd{ height:40px; line-height:40px; border-bottom:2px solid #1B84CE; background:#f6f6f6;   overflow:hidden; text-align:left;  padding:0 10px;  }
	.picScroll .hd ul{ float:right; padding-top:16px;   }	
	.picScroll .hd li{ float:left; width:8px; height:8px; background:#D0D0D0; margin:0 5px; overflow:hidden; 
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; 
	}
	.picScroll .hd .on{ background:#1B84CE;  }
	.picScroll .prev,.picScroll .next{ display:block; float:right;  width:18px; height:18px; background:url(pisScrollIcons.png) -6px -7px no-repeat; overflow:hidden; margin:11px 5px 0 5px;  }
	.picScroll .next{ background-position:-34px -7px; }
	.picScroll .prevStop{ background-position:-6px -40px; }
	.picScroll .nextStop{ background-position:-34px -40px; }
	
	/*tab切换*/
	.tabBox{ margin:0 auto;   }
	.tabBox .hd{ height:40px; line-height:40px; font-size:20px; overflow:hidden;border-top:1px solid #ccc;  padding:0 10px;  }
	.tabBox .hd h4{ float:left; font-size:20px; }
	.tabBox .hd h4 span{color:#ccc; font-family:Georgia; margin-left:10px;  }
	.tabBox .hd ul{ float:right;}
	.tabBox .hd ul li{ float:left;  padding:0 5px; vertical-align:top;}
	.tabBox .hd ul li.on a{ color:#1B84CE; display:block; height:38px;line-height:38px;border-bottom:2px solid #1B84CE;  }
	.tabBox .bd ul{ padding:10px;}
	.tabBox .bd ul li{ border-bottom:1px dotted #ddd;line-height: 32px;font-size: 14px;  }
	.tabBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */
	.readMore{ display:block; height:30px; line-height:30px;text-align:center; text-decoration:underline;   }	
	
/*赏图片首页头部*/
.head{background: #1B84CE;}
.head h4{height: 40px;line-height: 40px;}
.head a.h_back{position: absolute;top:11px;left: 10px;}
.head a.h_home{position: absolute;top:11px;right: 0;}
.head a.h_user{position: absolute;top:11px;right:20px}
/*图片列表*/
.picList{}
.picList .p_list_tit{border-bottom: 2px solid #1B84CE;padding: 0 10px 0 10px;}
.picList .p_list_com{overflow: hidden;}
.picList .p_list_com li{width: 50%;float: left;}
.picList .p_list_com li dl{margin:10px 5px 0 5px;background: #F8FAFA;}
.picList .p_list_com li dl dt img{width: 100%;height: 150px;}
.picList .p_list_com li dl dd{padding: 0 10px;}

/*图片内容*/
.author{border-bottom: 1px solid #CCC; overflow: hidden;}
.picList .p_com li{width: 100%;}
.picList .p_com li img{display: block; width: 95%;height: 150px;margin:5px auto;box-shadow: 0 0 5px #999;}
.picList .p_com li span{}

/*新闻首页*/
.newsNav{height: 55px; line-height: 30px; overflow: hidden;}
.newsNav li{width: 16.6%;float: left;text-align: center;}
.newsNav li a{display: block;width: 100%;margin: 0 auto;font-size: 16px;}
.topNews{overflow: hidden;}
.topNews h4{height: 25px;line-height: 25px;overflow: hidden;}
.topNews li{height: 20px; width: 50%;float: left;font-size: 14px; overflow: hidden;}

/*新闻列表页*/
.Hui-breadcrumb{height: 20px;line-height: 20px;padding: 10px 10px 0 10px;overflow: hidden;}
.Hui-breadcrumb,.Hui-breadcrumb a,.Hui-breadcrumb span{font-size: 14px;}
.newsList{}
.newsList li{margin: 10px 0;}
.newsList li dl{padding:5px 10px;background: #EFF3F5;}
.newsList li dl dd{height: 25px;line-height: 25px;}
.newsList li dl dt img{width: 80px;height: 80px; padding: 5px;float: left;}
.newsList li dl dt h4{margin:0;padding: 10px;}
.newsList li dl dd span{display: block;width: 33.3%;float: left;text-align: center;}

/*新闻内容页*/
@keyframes
mainMove{0%{}30%{transform:scale(1.3,1.3)}35%{transform:scale(1.3,1.3)}99%{transform:scale(1.3,1.3) translateX(-30px)}100%{transform:scale(1.0,1.0) translateX(0px)}}@-webkit-keyframes
mainMove{0%{}30%{-webkit-transform:scale(1.3,1.3)}35%{-webkit-transform:scale(1.3,1.3)}99%{-webkit-transform:scale(1.3,1.3) translateX(-30px)}100%{-webkit-transform:scale(1.0,1.0) translateX(0px)}}@-moz-keyframes
mainMove{0%{}30%{-moz-transform:scale(1.3,1.3)}35%{-moz-transform:scale(1.3,1.3)}99%{-moz-transform:scale(1.3,1.3) translateX(-30px)}100%{-moz-transform:scale(1.0,1.0) translateX(0px)}}

.com_head{position: relative;height:250px;overflow: hidden;}
.com_head img{width: 100%;height: 250px;opacity: 0.8; animation:mainMove 40s infinite;-webkit-animation:mainMove 40s ease-in-out infinite}
.com_head .h_back{position: absolute;top:20px;left: 20px; display: inline-block;width: 40px;height: 40px;background: url(iconfont-xiangzuo.png) no-repeat;background-size: 40px 40px;opacity: 0.8;}
.com_head .com_tit{position: absolute;width: 100%;left: 0; bottom: 0;background: rgba(68,68,68,0.8);color: #FFF;}
.com_head .com_tit h4,.com_head .com_tit p{margin: 0;}
.com_head .com_tit h4{padding: 10px;}
.com_head .com_tit p{margin-bottom: 10px;padding: 0 10px;}
.com_head .com_tit p span{margin: 0 10px;}
.com_head .com_tit p span a{color: #FF8811;}

#xinqing{margin-top:20px;}
#xinqing tr:first-child td{font-size: 14px;}
#xinqing td{padding: 0 5px;}
.cmt tr{border-bottom: 1px solid #EFEFEF;}
.comment_write_table{}
.comment_write_table tr td{padding: 10px;}
.comment_write_table tr td span.nmpub{display: block;}
.discuss{width: 100%;overflow: hidden;}
.discuss h4{border-top:3px solid #696969;border-bottom: 1px solid #CCC;padding: 10px;margin:10px 0 0 0;}

.commentList{padding: 10px;background: #F4F4F4;}
.cmtloadtips{text-align: center;height: 30px;line-height: 30px;background: #BCC5C8;color: #FFF;margin-top: 10px;}
#pp{display: block;margin-top: 10px;}

/*分页*/
.prev_art,.next_art{border:1px solid #CCC;padding: 5px;}

/*底部通用*/
.foot{background: #444444;}
.foot a{display: inline-block;margin: 10px 5px 0 5px;color: #FFF;}
