<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[
     
	  <style>
	  .DeliveryList{}
	  .DeliveryList ul li{float:left;}
	  .freight{font-weight:bold;color:brown;}
	  .store{margin:20px;padding:10px;border:1px solid #f1f1f1;background:#efefef;}
	  .store ul li{}
	  </style>

	<div class="DeliveryList">
	     <ul>
		[recordloop]
			<li>
			 <label>
			 <input type="radio" name="DeliveryID"  onclick="OrderCalculat();" value="{KS:DeliveryID}" {KS:Checked}/>
			 <input type="hidden" name="Freight_{KS:DeliveryID}" value="{KS:Freight}" id="Freight_{KS:DeliveryID}"  />
			 <input type="hidden" name="isZT_{KS:DeliveryID}" id="isZT_{KS:DeliveryID}" value="{KS:IsZT}" />
			 {KS:DeliveryName}
			 </label>
			  <font class="freight"> {KS:ShowFreight}</font> {KS:ShowPromotInfo}<br/>
			 <font color="#999999">{KS:Intro}</font>
			 </li>
		[/recordloop]
	   </ul>
	</div>
	<div class="store" id="ShowStore" style="clear:both;display:none">
	 <ul>
	  {KS:ShowStore}
	 </ul>
	</div>
	
	]]>
   </label>
</labeltemplate>