<?xml version="1.0"?>
<labeltemplate>
   <label>
    <![CDATA[
	 <style>
	 /*支付*/
	.paylist {width:96%;}
	.paylist ul {padding:0px;margin:0px; }
	.paylist li {width:127px;float:left;margin:10px;border:1px solid #ccc;padding:1px;}
	li.paycurr{border:2px solid red;width:127px;padding:0px;}
	.paylist li img {width:127px;height:40px;}
	.payintro{padding-left:10px;}
	 </style>
	<script>
	   $(document).ready(function(){
                $(".paylist").find("li").click(function(){
                          pid=$(this).attr("payid");
                          $(".paylist").find("li").attr("style","");
						 $(".paylist").find("li").removeClass("paycurr");
						 $(this).addClass("paycurr");
						  $("#payId").val(pid);
                 });
         });

	</script>

	<table width="100%" border="0" cellpadding="1" cellspacing="1" class="ctable">
		[recordloop]
		<tr>
		 <td width="200" class="cleft">
		 <label>
		 <input type="radio" name="PayMentID" onclick="OrderCalculat();" value="{KS:PayMentID}" {KS:Checked}/>
		 <input type="hidden" name="Discount_{KS:PayMentID}" id="Discount_{KS:PayMentID}" value="{KS:Discount}"/>
		 <input type="hidden" name="TypeFlag_{KS:PayMentID}" id="TypeFlag_{KS:PayMentID}" value="{KS:TypeFlag}"/>
		 {KS:PayMentName}
		 </label>
		 </td>
		 <td>
		 <font color="#999999">{KS:Intro}</font>
		 </td>
		</tr>
		[/recordloop]
	
	</table>
	 <br/>
   
	]]>
   </label>
</labeltemplate>