<?xml version="1.0"?>
<appSettings isopen="0">
  <add key="UC_CLIENT_VERSION" value="1.6.0" />
  <add key="UC_DBHOST" value="localhost" />
  <add key="UC_DBUSER" value="root" />
  <add key="UC_DBPW" value="" />
  <add key="UC_DBNAME" value="ultrax2" />
  <add key="API_SYNLOGIN" value="True" />
  <add key="UC_DBCHARSET" value="gbk" />
  <add key="UC_APPIDUC_DBTABLEPRE" value="`a0824085137`.uc_" />
  <add key="UC_DBCONNECT" value="0" />
  <add key="UC_KEY" value="kesioncms" />
  <add key="UC_API" value="http://192.168.0.2:888/uc_server/" />
  <add key="UC_CHARSET" value="utf-8" />
  <add key="UC_IP" value="" />
  <add key="UC_APPID" value="2" />
  <add key="UC_PPP" value="20" />
</appSettings>