<?xml version="1.0"?>
<VIPInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <status>
  </status>
  <VIP>20|100
30|120
15|85
6|15</VIP>
  <intro>&lt;p&gt;升值为VIP，将享受更多的课程优惠!!!&lt;/p&gt;</intro>
  <seting>
  </seting>
  <other>
  </other>
</VIPInfo>