/*通用*/
.com-content{margin: auto;position: relative;box-shadow: 0 0 10px #000;min-width: 320px;max-width: 540px;}
.list{position: relative;}
.list .more{position: absolute;right: 10px;}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;outline: none;-webkit-appearance: none;}
::-webkit-input-placeholder{color:#999;}
input[type="text"],input[type="password"]{-webkit-appearance:none;appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);border-radius:0;}
/*焦点图*/

/*样式1*/
	.focus{ width:100%; height:190px;  margin:0 auto; position:relative; overflow:hidden;   }
	.focus .hd{ width:100%; height:11px;  position:absolute; z-index:1; bottom:5px; text-align:center;  }
	.focus .hd ul{ display:inline-block; height:5px; padding:3px 5px; background-color:rgba(255,255,255,0.7); 
		-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; font-size:0; vertical-align:top;
	}
	.focus .hd ul li{ display:inline-block; width:5px; height:5px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#8C8C8C; margin:0 5px;  vertical-align:top; overflow:hidden;   }
	.focus .hd ul .on{ background:#FE6C9C;  }

	.focus .bd{ position:relative; z-index:0; }
	.focus .bd li img{ width:100%;  height:190px; background:url(images/loading.gif) center center no-repeat;  }
	.focus .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
/*样式2*/
	.slideBox{ position:relative; width:100%;  height:180px; overflow:hidden; margin:0 auto; }
	.slideBox .hd{ position:absolute; width:100%;  height:27px; bottom:0; left:0; z-index:1; }
	.slideBox .hd img{ width:11px;  }
	.slideBox .prev,.slideBox .next{ position:absolute; left:0; top:0; display:block; width:23px; height:27px; line-height:27px; text-align:center;   }
	.slideBox .next{ left:auto; right:0;}
	.slideBox .bd{ position:relative; z-index:0; }
	.slideBox .bd li{ position:relative; }
	.slideBox .bd li img{ width:100%;  height:180px; display:block;   }
	.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */  }
	.slideBox .bd li .tit{ display:block; width:100%;  position:absolute; bottom:0; text-indent:10px; height:27px; line-height:27px;  text-align:center;  color:#fff; background-color:rgba(0,0,0,0.7); ; 
	}
	
/*焦点图end*/	
	
/*多图滑动*/	
	.picScroll{ margin:10px auto; text-align:center;  }
	.picScroll .bd ul{ width:100%;  float:left;}
	.picScroll .bd li{ width:50%; float:left; font-size:14px; text-align:center;  }
	.picScroll .bd li a{display: block;text-align: center;line-height: 30px; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
	.picScroll .bd li img{ width:95%; height:140px;  background:url(images/loading.gif) #fff center center no-repeat;  }


	.picScroll .hd{ height:40px; line-height:40px; border-bottom:2px solid #1B84CE; background:#f6f6f6;   overflow:hidden; text-align:left;  padding:0 10px;  }
	.picScroll .hd ul{ float:right; padding-top:16px;   }	
	.picScroll .hd li{ float:left; width:8px; height:8px; background:#D0D0D0; margin:0 5px; overflow:hidden; 
	-webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; 
	}
	.picScroll .hd .on{ background:#1B84CE;  }
	.picScroll .prev,.picScroll .next{ display:block; float:right;  width:18px; height:18px; background:url(pisScrollIcons.png) -6px -7px no-repeat; overflow:hidden; margin:11px 5px 0 5px;  }
	.picScroll .next{ background-position:-34px -7px; }
	.picScroll .prevStop{ background-position:-6px -40px; }
	.picScroll .nextStop{ background-position:-34px -40px; }
	
	/*tab切换*/
	/*tab图片*/
	.tempWrap{ height:auto !important; }
	.tab_pic{ overflow:hidden}
	.tab_pic li{margin-top: 10px;border:1px solid #CCC;border-radius: 5px;text-align: center; box-sizing:border-box;  }
	.tab_pic li img{width: 100%;height: 120px;}
	.tab_pic li a{display: block;line-height: 30px;}
	.tab_pic li p{ font-size:14px; background:#f7f7f7; height:40px; line-height:40px; margin:0}
	
	/*tab考试*/
	.tab_exam li{position: relative; border: 1px solid #CCC; border-radius: 5px;margin-top:10px;}
	.tab_exam li img{position: absolute;right: 7px;top:7px}
	.tab_exam li h5,.tab_exam li p{padding: 0 10px;}
	/*tab商城*/
	.tab_shop {}
	.tab_shop li{width: 100%;border-bottom: 1px solid #CCC;}
	.tab_shop li img{width: 70px;height: 70px;float: left;padding: 10px;}
	
	/*tab问答*/
	.tab_ask li{border-bottom: 1px solid #CCC;}
	.tab_ask li img{width: 70px;height: 70px;padding: 10px;float: left;}
	.tab_ask li h5{height: 20px;line-height: 20px;overflow: hidden;color: #333;}
	.tab_ask li span{color: #666;}
	
	
	/*tab新闻*/
	.tab_news li{position: relative;border:1px solid #CCC;}
	.tab_news li img{width: 100%;height: 150px;}
	.tab_news li .news_tit{position: absolute;left: 0; bottom: 0;}
	.tab_news li h4{line-height: 20px; padding:10px;font-size: 16px;margin: 0;}
	.tab_news li span{margin: 0 10px;}
	
	/*tab下载*/
	.tab_down li{}
	.tab_down li img{width: 70px;height: 70px;padding: 10px;float: left;}
	.tab_down li h5{height: 20px; line-height: 20px;}
	.tab_down li h5 span{display: block;width: 40px; height: 20px; border:1px solid #1B84CE ; border-radius: 20px;color: #1B84CE;float: right;text-align: center;}
	.tab_down li p{height: 20px;margin: 0;overflow: hidden;}
	
	/*tab论坛*/
	.tab_forum{}
	.tab_forum li{}
	.tab_forum li img{width: 70px;height: 70px; padding: 10px;float: left;}
	.tab_forum li h4{font-size: 16px;}
/*通用首页头部*/
.head{}
.head h4{height: 40px;line-height: 40px;}
.head a.h_back{position: absolute;top:12px;left: 10px;}
.head a.h_home{position: absolute;top:12px;right: 0;}
.head a.h_search{position: absolute;top:12px;right:40px}
.menu_btn{position: absolute;top:2px;right: 10px;}
/*首页*/
.login_box{color: #FFF;}
.login_box .login_share{text-align: center;}
.login_box .login_share img{margin:0 5px}
.sidebar{background: #373737;}
.sidebar h6{margin: 0;}	
.sidebar .login_tit{height: 30px;line-height: 30px;}
.sidebar .login_tit span{color: #FFF;}
.sidebar .login_bar{}
.sidebar .login_bar input{width: 100%; height: 30px;}
.sidebar .login_share span{display: block;width: 110px;height: 40px;line-height: 40px;float: left;text-align: center;color: #FFF;}	

.roll{border:1px solid #CCC;border-radius: 20px;}
.roll li{text-indent: 3em;background: url(iconfont-laba.png) no-repeat 5px 3px;background-size:25px 25px;}
.proRoll .hd{background: #FFF;}
.proRoll .bd li{width: 33.3%;background: #F4F4F4;}
.proRoll .bd li img{width: 85%;height: 65px;}
.proRoll .bd li dl{padding: 10px;}

.nav_loop li{width: 25%;float: left;text-align: center;padding: 10px 0;}
.nav_loop li dt span{display: inline-block; width: 50px;height: 50px;line-height: 50px; border-radius: 50px;}
.nav_loop li dt span img{width: 25px;height: 25px;}
.nav_loop li dt span.nav01{background: url("nav01.png") no-repeat;}
.nav_loop li dt span.nav02{background: url("nav02.png") no-repeat;}
.nav_loop li dt span.nav03{background: url("nav03.png") no-repeat;}
.nav_loop li dt span.nav04{background: url("nav04.png") no-repeat;}
.nav_loop li dt span.nav05{background: url("nav05.png") no-repeat;}
.nav_loop li dt span.nav06{background: url("nav06.png") no-repeat;}
.nav_loop li dt span.nav07{background: url("nav07.png") no-repeat;}
.nav_loop li dt span.nav08{background: url("nav08.png") no-repeat;}

.nav_loop li dl dd{margin-top: 5px;}

.searchBox{background: #F8F8F8; display: none;}
.searchBox{height: 50px;line-height: 50px;}
.searchBox span{display: block;float: right;width: 20%;}
/*.searchFrame{width: 100%;text-align: center; float: left;}
.searchFrame input{outline: none;display: inline-block;width: 50%; height: 36px;border-radius: 0;text-indent: 1em; border-top: 2px solid #3C8BCC;border-bottom: 2px solid #3C8BCC;border-right: 2px solid #3C8BCC;border-left: none;margin-top: -3px;margin-left: -4px;}
.searchFrame .dropDown{display: inline-block;}
.searchFrame .dropDown_A{display: block;width: 60px;height: 36px;line-height: 38px;border-top: 2px solid #3C8BCC;border-bottom: 2px solid #3C8BCC;border-left: 2px solid #3C8BCC;}*/
.sc{box-sizing: border-box;}
.sc .scbox{padding: 10px;display: none;}
.sc .scbox .SC_input{width:60%; float:left;height:35px; line-height:35px;background:#fff;color:#aaa;padding-left:5px;border:0px;border:2px solid #999;border-left:none;font-size:14px;_margin-right:-3px; border-right:none }
.sc .scbox .scbtn{ height:39px; width:18%; border:0px;background:#fff no-repeat;border:2px solid #999; border-left:none;cursor:pointer; color:#FFF; font-size:16px;font-family:"\5FAE\8F6F\96C5\9ED1"; background:url(/companyimages2/search.png) no-repeat center center; z-index:-1 }
button,.btnNormal{height:22px;line-height:18px;padding:0 9px!important;padding:0 5px;}
.sc .scbox .selSearch{ position:relative; float:left;width:15%;height:35px; line-height:35px;font-size:14px;font-weight:bold;padding-left:7px;background: url(selectbg.gif) no-repeat 40px 13px ;color:#a8a8a8;cursor:pointer; _overflow:hidden; border:#999 solid 2px; border-right:none;}
.sc .scbox .btnSel{float:right;width:14px;height:19px;}
.sc .scbox .selOption{position:absolute;width:50px;left:-2px; top:35px; background:#fff;border:2px solid #999;border-top:0px; line-height:22px;font-weight:100;z-index:1999999}
.sc .scbox .selOption a{display:block;height:21px;line-height:21px;color:#000;text-decoration:none;COLOR:#666666;font-weight:100;font-size:12px;padding-left:7px;}
.sc .scbox .selOption a:hover{color:#333;background:#eee;}
.sc .sc_tags{ display:none; float:rigth;margin-top:25px; margin-left:20px;color:#666;height:25px;line-height:25px;overflow:hidden;font-family:Arial, Helvetica, sans-serif}
.sc .sc_tags a{color:#999;}

.wrapper{position: absolute;top:10px;right: 10px;}
.wrapper .toolbar{}
.wrapper .toolbar img{width: 20px;height: 20px;border-radius:50px;border: 1px solid #FFF;padding: 1px;box-shadow: 0 0 5px #999;}

.allnews{width: 100%;height: 35px;line-height: 35px;background: #F4F4F4;text-align: center;border-radius:0 0 5px 5px ;}
/*搜索页*/
.resultBox{text-align: center;}
.resultBox input{border-radius: 5px;}
.scjg{padding: 10px;}
.search_info .norecord{padding: 10px;}
.search_info li{border-bottom: 1px solid #CCC;padding: 10px;}
.search_info li h5{color: #1B84CE;}
.search_info li span{display: block;text-align: right;}
.search_info li p{color: #999;}
.search_info li a{color: #BCD68D;}

/*图片列表*/
.picList{}
.picList .p_list_tit{border-bottom: 2px solid #1B84CE;padding: 0 10px 0 10px;}
.picList .p_list_com{overflow: hidden;}
.picList .p_list_com li{width: 50%;float: left;}
.picList .p_list_com li dl{margin:10px 5px 0 5px;background: #F8FAFA;}
.picList .p_list_com li dl dt img{width: 100%;height: 150px;}
.picList .p_list_com li dl dd{padding: 0 10px;}

/*图片内容*/
.author{border-bottom: 1px solid #CCC; overflow: hidden;}
.picList .p_com li{width: 100%;}
.picList .p_com li img{display: block; width: 95%;height: 150px;margin:5px auto;box-shadow: 0 0 5px #999;}
.picList .p_com li span{}

/*新闻首页*/
.newsNav{height: 50px; line-height: 25px; overflow: hidden;}
.newsNav li{width: 16.6%;float: left;text-align: center;}
.newsNav li a{display: block;width: 100%;margin: 0 auto;}
.topNews{overflow: hidden;}
.topNews h4{height: 25px;line-height: 25px;overflow: hidden;}
.topNews li{height: 20px; width: 50%;float: left;overflow: hidden;}

/*新闻列表页*/
.Hui-breadcrumb{height: 20px;line-height: 20px;padding: 10px 10px 0 10px;overflow: hidden;}
.Hui-breadcrumb,.Hui-breadcrumb a,.Hui-breadcrumb span{font-size: 14px;}
.newsList{}
.newsList li{margin: 10px 0;}
.newsList li dl{padding:5px 10px;background: #EFF3F5;}
.newsList li dl dd{height: 25px;line-height: 25px;}
.newsList li dl dt img{width: 80px;height: 80px; padding: 5px;float: left;}
.newsList li dl dt h4{margin:0;padding: 10px;}
.newsList li dl dt p{overflow: hidden;margin: 0;}
.newsList li dl dt p span{line-height: 25px;}
.newsList li dl dd span{display: block;width: 33.3%;float: left;text-align: center;}

/*新闻内容页*/
@keyframes
mainMove{0%{}30%{transform:scale(1.3,1.3)}35%{transform:scale(1.3,1.3)}99%{transform:scale(1.3,1.3) translateX(-30px)}100%{transform:scale(1.0,1.0) translateX(0px)}}@-webkit-keyframes
mainMove{0%{}30%{-webkit-transform:scale(1.3,1.3)}35%{-webkit-transform:scale(1.3,1.3)}99%{-webkit-transform:scale(1.3,1.3) translateX(-30px)}100%{-webkit-transform:scale(1.0,1.0) translateX(0px)}}@-moz-keyframes
mainMove{0%{}30%{-moz-transform:scale(1.3,1.3)}35%{-moz-transform:scale(1.3,1.3)}99%{-moz-transform:scale(1.3,1.3) translateX(-30px)}100%{-moz-transform:scale(1.0,1.0) translateX(0px)}}

.com_head{position: relative;height:250px;overflow: hidden;}
.com_head img{width: 100%;height: 250px;opacity: 0.8; animation:mainMove 40s infinite;-webkit-animation:mainMove 40s ease-in-out infinite}
.com_head a{position: absolute;top:20px;left: 20px; display: inline-block;width: 40px;height: 40px;background: url(iconfont-xiangzuo.png) no-repeat;background-size: 40px 40px;opacity: 0.8;}
.com_head .com_tit{position: absolute;width: 100%;left: 0; bottom: 0;background: rgba(68,68,68,0.8);color: #FFF;}
.com_head .com_tit h4,.com_head .com_tit p{margin: 0;}
.com_head .com_tit h4{padding: 10px;}
.com_head .com_tit p{margin-bottom: 10px;}
.com_head .com_tit p span{margin: 0 10px;}

.discuss{width: 100%;overflow: hidden;}
/*评论部分*/
.commentList{padding: 10px;}
.cmtloadtips{text-align: center;height: 30px;line-height: 30px;background: #BCC5C8;color: #FFF;margin-top: 10px;}
#pp{display: block;margin: 10px 0;}
.comment_write_table .username,.comment_write_table .password,.comment_write_table .verifycode{border: 1px solid #999;border-radius: 2px;}
/*下载页*/
.down_tab li{width: 100%;background: #F2F9FD;border-bottom: 1px solid #FFF;overflow: hidden;}
.down_tab li .imgBox{position: relative;float: left;}
.down_tab li .imgBox span{position: absolute;width:20px;height: 26px;top:10px;left: 10px;text-align: center;line-height: 17px;color: #FFF; z-index: 999;}
.down_tab li .imgBox span.num01{background: url(numbg01.png) no-repeat;}
.down_tab li .imgBox span.num02{background: url(numbg02.png) no-repeat;}
.down_tab li .imgBox span.num03{background: url(numbg03.png) no-repeat;}
.down_tab li .imgBox span.num04{background: url(numbg04.png) no-repeat;}
.down_tab li .imgBox span.num05{background: url(numbg04.png) no-repeat;}


.down_tab li img{position: relative; width: 70px;height: 70px;padding: 10px; float: left;}
.down_tab li img.num01{background: url(numbg01.png) no-repeat;}
.down_tab li h5{margin: 0;height: 25px;line-height: 35px;overflow: hidden;}
.down_tab li span{display: block;line-height: 30px;}

.soft_cfy li{width: 25%;float: left;text-align: center;}
.soft_cfy li dl{padding: 10px;}
.soft_cfy li dl dt{display: inline-block;width: 50px;height: 50px;border-radius: 50px;}
.soft_cfy li dl dt.soft01{background:#3E9028 url(yyicon01.png) no-repeat 5px 10px;}
.soft_cfy li dl dt.soft02{background:#2F8BC6 url(yyicon01.png) no-repeat -65px 10px;}
.soft_cfy li dl dt.soft03{background:#472EA5 url(yyicon01.png) no-repeat -132px 10px;}
.soft_cfy li dl dt.soft04{background:#A52E94 url(yyicon01.png) no-repeat -194px 10px;}
.soft_cfy li dl dt.soft05{background:#B93655 url(yyicon01.png) no-repeat -277px 10px;}
.soft_cfy li dl dt.soft06{background:#BF933D url(yyicon01.png) no-repeat -352px 10px;}
.soft_cfy li dl dt.soft07{background:#2F96C6 url(yyicon01.png) no-repeat -426px 10px;}

.soft_list .soft_list_box{}
.soft_list .soft_list_box .soft_tit{color: #1B84CE;font-size: 16px;border-bottom: 2px solid #1B84CE;}
.soft_list .soft_list_box .soft_tit span{display: block;width: 100px;height: 30px;line-height: 30px; color: #FFF;background:#1B84CE;text-indent: 1em;border-radius: 0 10px 0 0;}
.soft_list .soft_list_box ul{background: #F2F9FD;}
.soft_list .soft_list_box li{border-bottom: 1px solid #FFF;overflow: hidden;}
.soft_list .soft_list_box li:last-child{border: none;}
.soft_list .soft_list_box li img{width: 60px;height: 60px;padding: 10px;float: left;}
.soft_list .soft_list_box li h5 span{display: block;width: 50px;height: 20px;line-height: 20px; text-align: center; border-radius:20px;border:1px solid #1B84CE;color: #1B84CE;float: right;}
.soft_list .soft_list_box li p{margin: 0;}

/*下载内容页*/
.down_conment .nav_imgbar{overflow: hidden;}
.down_conment .nav_imgbar img{width: 70px;height: 70px;padding: 10px;float: left;}
.down_conment .nav_imgbar h5{height: 17px;overflow: hidden;}
.down_conment .nav_imgbar span{display: block;line-height: 25px;padding: 0 10px;}
.down_conment .nav_imgbar span a{display: block;width: 50px;height: 20px;line-height: 20px; border-radius: 20px;border: 1px solid #1B84CE; color: #1B84CE;text-align:center;float: right;font-size: 14px;}
.down_conment .downbox03{padding: 10px;}

.user_box{overflow: hidden;}
.user_box .user_tit{border-bottom: 1px solid #696969;}
.user_box .user_tit span{color: #1B84CE;padding: 10px;font-size: 16px;}
.user_box .user_con{overflow: hidden;}
.user_box .user_con tr td span{}
.user_box .user_con tr td textarea{display: block; width: 95%;height: 100px;margin-top:10px;padding: 0;}

/*分页*/
.prev_art,.next_art{border:1px solid #CCC;}


/*联系我们,关于我们*/
.relation_us{padding: 10px;}
.relation_us img{width: 100%;height: 200px;}
.relation_us h4{line-height: 30px;}
.relation_us li{line-height: 30px;}

/*在线留言*/
.message{padding: 10px;}
.message input{border-radius:5px;outline: none;}
.message tr td{padding: 5px;}
.message textarea{width: 100%;height: 150px;line-height: 20px;text-indent: 1em;border-radius: 5px;}
.message span{display: block;line-height: 30px;margin: 10px 0;text-align: center;}
.message span input{display: inline-block; width: 75%;height: 25px;margin-left: 10px;border-radius:5px;}

.leave_msg{}
.leave_msg li{border:1px solid #CCC;margin: 10px 0;border-radius: 5px;}
.leave_msg li h3{font-size: 16px;padding: 0;padding: 10px;}
.leave_msg li p{font-size: 14px;padding: 0;padding: 0 10px;}


/*底部通用*/
.foot{background: #444444;}
.foot a{display: inline-block;margin: 10px 5px 0 5px;color: #FFF;}
