<?xml version="1.0"?>
<WeixinConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <closestatus>网站日常维护，请稍候访问。</closestatus>
  <CompanyName>厦门科汛软件公司</CompanyName>
  <CompanyAddress>厦门软件园观日路30号楼304</CompanyAddress>
  <ComapnyPhone>0596-2218051</ComapnyPhone>
  <CompanyTelphone>4000080263</CompanyTelphone>
  <CompanyFax>0592-5934176</CompanyFax>
  <ComapnyEmail>kesioncms@hotmail.com</ComapnyEmail>
  <PostCode>363000</PostCode>
  <QQ>4000080263</QQ>
  <Contact>小林</Contact>
  <Beian>闽ICP备06009871号</Beian>
  <KeyWords>厦门科汛软件公司</KeyWords>
  <CompanyIntro>厦门科汛软件公司(前身科汛网络开发工作室成立于2005年)座落在厦门软件园观日路30号楼304，是一家主营网络软件开发与销售、软件咨询与服务等业务的高新技术企业，拥有互联网著名品牌KesionCMSTM和科汛在线图文下单管理系统。公司的网站（kesion.com）和技术论坛(bbs.kesion.com)是目前国内极具影响力的服务型网站和论坛。 公司拥有一流的软件产品设计和开发团队，具有丰富的网络应用软件设计开发经验，尤其在网站内容管理系统、下单管理系统的开发及其相关领域，经过长期创新性开发，掌握了一整套从算法、数据结构到产品安全性方面的领先技术，使得产品无论在稳定性、代码优化、运行效率、负载能力、安全等级、功能可操控性和权限严密性等方面都居国内外同类产品领先地位。公司始终专注于研发具有自主核心技术和知识产权的软件产品，其中的一款主要产品《科汛网站管理系统》(简称：KesionCMSTM)具有cms行业中最人性化，上手度最容易,系统功能最全之称，一直以来倍受广大网友的欢迎。目前拥有大量的用户群，涉及到政府、企业、科研教育和媒体等各个行业领域，一直以来得到业界同仁和客户的一致好评。 我们坚持"以客户为中心"，开拓业务，真诚希望与您建立良好的合作关系，以我们的专业水平、合理价格、优质服务成为您成功的桥梁和纽带。公司视服务为企业生命，视客户为企业之本，以服务客户为企业宗旨，努力提升服务水平，以优秀服务为客户节约成本、创造价值，赢得了广大用户的信赖与支持。我们致力为用户提供最优秀的网站建设和电子商务解决方案及相关咨询服务，全心全意提供令客户满意的产品和服务。</CompanyIntro>
  <CompanyContent>&lt;p&gt;厦门科汛软件公司(前身科汛网络开发工作室成立于2005年)座落在厦门软件园观日路30号楼304，是一家主营网络软件开发与销售、软件咨询与服务等业务的高新技术企业，拥有互联网著名品牌KesionCMSTM和科汛在线图文下单管理系统。公司的网站（kesion.com）和技术论坛(bbs.kesion.com)是目前国内极具影响力的服务型网站和论坛。 公司拥有一流的软件产品设计和开发团队，具有丰富的网络应用软件设计开发经验，尤其在网站内容管理系统、下单管理系统的开发及其相关领域，经过长期创新性开发，掌握了一整套从算法、数据结构到产品安全性方面的领先技术，使得产品无论在稳定性、代码优化、运行效率、负载能力、安全等级、功能可操控性和权限严密性等方面都居国内外同类产品领先地位。公司始终专注于研发具有自主核心技术和知识产权的软件产品，其中的一款主要产品《科汛网站管理系统》(简称：KesionCMSTM)具有cms行业中最人性化，上手度最容易,系统功能最全之称，一直以来倍受广大网友的欢迎。目前拥有大量的用户群，涉及到政府、企业、科研教育和媒体等各个行业领域，一直以来得到业界同仁和客户的一致好评。 我们坚持&amp;quot;以客户为中心&amp;quot;，开拓业务，真诚希望与您建立良好的合作关系，以我们的专业水平、合理价格、优质服务成为您成功的桥梁和纽带。公司视服务为企业生命，视客户为企业之本，以服务客户为企业宗旨，努力提升服务水平，以优秀服务为客户节约成本、创造价值，赢得了广大用户的信赖与支持。我们致力为用户提供最优秀的网站建设和电子商务解决方案及相关咨询服务，全心全意提供令客户满意的产品和服务。&lt;/p&gt;</CompanyContent>
  <Decription>KesionCMS</Decription>
  <BaiduKey>xDBDuwoqm2AkK0D2L1UbeYof</BaiduKey>
  <BaiduPoint>117.65 ,24.52</BaiduPoint>
  <TemplateDir>Template3G</TemplateDir>
  <TemplateStyleDir>3G</TemplateStyleDir>
  <G3MessageVerify>0</G3MessageVerify>
  <G3AllowVisitorsMessage>1</G3AllowVisitorsMessage>
  <WeixinSiteKey>85306-D4203-4E9B3-9CFC1-D1866</WeixinSiteKey>
  <AutoTurnMobileSite>1</AutoTurnMobileSite>
  <WeixinAutoCreateUser>1</WeixinAutoCreateUser>
  <WeixinAutoLogin>1</WeixinAutoLogin>
  <MenuStatus>1</MenuStatus>
  <AttentionStatus>1</AttentionStatus>
  <UserListNextOpenID>oLDLXwJ8gpLu3ClLdL838n6EdJCw</UserListNextOpenID>
  <AutomaticReply>0</AutomaticReply>
  <TemplateMsg>1</TemplateMsg>
  <WeixinLoginBindUser>1</WeixinLoginBindUser>
</WeixinConfigInfo>