<?xml version="1.0" standalone="yes"?>
<cachetableremove>
  <table1 xpath="/CMS/ModelList" removedatetime="2017/1/9 15:09:30" />
  <table1 xpath="/CMS/ClassUrlList" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/ContentUrlList1" removedatetime="2007-12-14 23:18:55" />
  <table1 xpath="/CMS/ModelDataList1" removedatetime="2017/1/9 11:02:12" />
  <table1 xpath="/CMS/ConfigList" removedatetime="2017/4/17 12:47:33" />
  <table1 xpath="/CMS/ModelDataList2" removedatetime="2017/1/9 14:29:16" />
  <table1 xpath="/CMS/FriendLinkClass" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/UserGroup" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/ModelDataList3" removedatetime="2017/1/9 15:09:30" />
  <table1 xpath="/CMS/ModelDataList4" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/ClassDataList" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/ClassNameList" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/DownServerOptionList" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/DownServerOption" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/LabelList" removedatetime="2016/4/5 15:07:14" />
  <table1 xpath="/CMS/ModelDataList5" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/ModelDataList6" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/ModelDataList7" removedatetime="2015/12/2 20:50:55" />
  <table1 xpath="/CMS/SpecialClassDataList" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/CollectFilterItem" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/ModelTable" removedatetime="2017/1/9 15:09:30" />
  <table1 xpath="/CMS/ShopConfigList" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/UserGroupTable" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/LimitBuyTable" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/DeliveryTable" removedatetime="2016/6/14 17:06:50" />
  <table1 xpath="/CMS/PayMentTable" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/ClassOptionListTrue" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/ClassOptionListFalse" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/CacheClassDomainTable" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/SJCategoryList" removedatetime="2015/4/13 15:27:52" />
  <table1 xpath="/CMS/GetCacheSJCategoryTable" removedatetime="2015/6/26 10:44:45" />
  <table1 xpath="/CMS/SJConfigList" removedatetime="2015/6/26 10:44:45" />
  <table1 xpath="/CMS/ClassDefinedDataList" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/CacheSJTypeTable" removedatetime="2015/6/26 10:44:45" />
  <table1 xpath="/CMS/CacheSJCategoryURL" removedatetime="2016/4/15 19:36:18" />
  <table1 xpath="/CMS/ShopClassOptionListTrue" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/ShopClassOptionListFalse" removedatetime="2017/1/10 14:23:55" />
  <table1 xpath="/CMS/AccountAPIConfig" removedatetime="2016/6/2 12:03:01" />
  <table1 xpath="/CMS/ModelDataList8" removedatetime="2015/9/1 19:15:36" />
  <table1 xpath="/CMS/ModelDataList9" removedatetime="2015/9/1 19:15:40" />
  <table1 xpath="/CMS/CacheSellPack" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/DepartMentList" removedatetime="2016/5/6 11:29:39" />
  <table1 xpath="/CMS/GroupBuyClassTable" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/AreaDataList" removedatetime="2016/4/15 14:55:50" />
  <table1 xpath="/CMS/SMSAPI" removedatetime="2016/6/27 19:42:14" />
  <table1 xpath="/CMS/AskCategoryList" removedatetime="2016/5/23 12:05:32" />
  <table1 xpath="/CMS/GetCacheAskCategoryTable" removedatetime="2013-1-19 16:05:36" />
  <table1 xpath="/CMS/CacheAskCategoryURL" removedatetime="2017/1/9 16:33:56" />
  <table1 xpath="/CMS/AskConfigList" removedatetime="2016/6/7 11:46:46" />
  <table1 xpath="/CMS/CacheSJCategoryTable" removedatetime="2015/4/13 15:27:52" />
  <table1 xpath="/CMS/CacheAskRankTable" removedatetime="2014/5/22 17:06:39" />
  <table1 xpath="/CMS/CacheAskCategoryTable" removedatetime="2017/1/9 16:33:56" />
  <table1 xpath="/CMS/CacheAskPostTable" removedatetime="2013-12-18 11:33:19" />
  <table1 xpath="/CMS/InnerLinkTable" removedatetime="2015/9/11 15:21:54" />
  <table1 xpath="/CMS/CacheZJTypeTable" removedatetime="2014/5/22 17:07:04" />
  <table1 xpath="/CMS/JSLabelList" removedatetime="2016/4/5 15:07:14" />
  <table1 xpath="/CMS/DataLabel" removedatetime="2016/4/5 15:07:14" />
  <table1 xpath="/CMS/JSDataLabel" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/UserGroupList" removedatetime="2016/6/24 9:57:56" />
  <table1 xpath="/CMS/ADBoardList" removedatetime="2015/3/25 16:31:45" />
  <table1 xpath="/CMS/ModelDataList111" removedatetime="2014/4/9 16:22:06" />
  <table1 xpath="/CMS/ModelDataList114" removedatetime="2015/10/17 10:29:18" />
  <table1 xpath="/CMS/ModelDataList116" removedatetime="2014/4/9 16:22:06" />
  <table1 xpath="/CMS/ModelDataList113" removedatetime="2015/10/17 10:29:18" />
  <table1 xpath="/CMS/ModelDataList115" removedatetime="2014/4/9 16:22:06" />
  <table1 xpath="/CMS/ManagePerPage" removedatetime="2014/11/22 14:36:59" />
  <table1 xpath="/CMS/NavigationLabelList" removedatetime="2016/4/5 11:59:26" />
  <table1 xpath="/CMS/BBSCategoryList" removedatetime="2015/3/21 12:15:23" />
  <table1 xpath="/CMS/CacheBBSCategoryTable" removedatetime="2015/3/21 17:01:07" />
  <table1 xpath="/CMS/CacheBBSCategoryURL" removedatetime="2015/3/21 17:01:07" />
  <table1 xpath="/CMS/BBSConfigList" removedatetime="2015/7/21 17:14:40" />
  <table1 xpath="/CMS/CacheBBSRankTable" removedatetime="2014/5/22 18:10:13" />
  <table1 xpath="/CMS/CacheBBSPostTable" removedatetime="2015/3/21 17:00:49" />
  <table1 xpath="/CMS/CacheClassTableByPurviewadmin" removedatetime="2016/4/20 18:03:55" />
  <table1 xpath="/CMS/CacheClassTableByPurviewzhangcuicui" removedatetime="2014/7/1 15:22:34" />
  <table1 xpath="/CMS/CacheClassTableByPurviewtttttt" removedatetime="2015/7/21 10:12:34" />
  <table1 xpath="/CMS/FieldGroupTable" removedatetime="2017/1/9 15:09:31" />
  <table1 xpath="/CMS/ProSpeicalTable" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/ProStoreTable" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/WeixinConfigList" removedatetime="2016/5/19 10:35:08" />
  <table1 xpath="/CMS/CacheClassTableByPurview科兴" removedatetime="2016/5/14 17:12:28" />
  <table1 xpath="/CMS/CacheClassTableByPurviewaa11" removedatetime="2016/5/14 17:05:47" />
  <table1 xpath="/CMS/ProBrandTable" removedatetime="2016/6/14 15:01:56" />
  <table1 xpath="/CMS/CacheClassTableByPurview" removedatetime="2016/1/26 15:20:14" />
  <table1 xpath="/CMS/TemplateTable" removedatetime="2016/6/30 12:01:34" />
  <table1 xpath="/CMS/LabelList2" removedatetime="2016/6/1 15:44:20" />
  <table1 xpath="/CMS/JSLabelList2" removedatetime="2016/6/1 15:44:20" />
  <table1 xpath="/CMS/DataLabel2" removedatetime="2016/6/1 15:44:20" />
  <table1 xpath="/CMS/NavigationLabelList2" removedatetime="2016/5/31 16:05:20" />
  <table1 xpath="/CMS/LabelList3" removedatetime="2016/4/5 15:52:16" />
  <table1 xpath="/CMS/JSLabelList3" removedatetime="2016/4/5 15:52:16" />
  <table1 xpath="/CMS/DataLabel3" removedatetime="2016/4/5 15:52:16" />
  <table1 xpath="/CMS/NavigationLabelList3" removedatetime="2016/4/5 15:52:16" />
  <table1 xpath="/CMS/LabelList10" removedatetime="2016/4/9 16:27:23" />
  <table1 xpath="/CMS/JSLabelList10" removedatetime="2016/4/9 16:27:23" />
  <table1 xpath="/CMS/DataLabel10" removedatetime="2016/4/9 16:27:23" />
  <table1 xpath="/CMS/SignInConfigList" removedatetime="2016/6/8 11:46:40" />
  <table1 xpath="/CMS/VIPConfig" removedatetime="2016/6/7 15:45:31" />
  <table1 xpath="/CMS/WeiXinTemplateMsg" removedatetime="2016/5/18 14:44:51" />
  <table1 xpath="/CMS/LabelList24" removedatetime="2016/6/14 17:25:32" />
  <table1 xpath="/CMS/JSLabelList24" removedatetime="2016/6/14 17:25:32" />
  <table1 xpath="/CMS/DataLabel24" removedatetime="2016/6/14 17:25:32" />
  <table1 xpath="/CMS/NavigationLabelList24" removedatetime="2016/6/14 17:25:32" />
  <table1 xpath="/CMS/LabelList27" removedatetime="2016/6/28 16:37:33" />
  <table1 xpath="/CMS/JSLabelList27" removedatetime="2016/6/28 16:37:33" />
  <table1 xpath="/CMS/DataLabel27" removedatetime="2016/6/28 16:37:33" />
  <table1 xpath="/CMS/NavigationLabelList27" removedatetime="2016/6/28 16:37:33" />
  <table1 xpath="/CMS/LabelList1" removedatetime="2017/4/17 12:47:33" />
  <table1 xpath="/CMS/JSLabelList1" removedatetime="2017/4/17 12:47:33" />
  <table1 xpath="/CMS/DataLabel1" removedatetime="2017/4/17 12:47:33" />
  <table1 xpath="/CMS/NavigationLabelList1" removedatetime="2017/4/17 12:47:33" />
</cachetableremove>