<?xml version="1.0"?>
<ConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SiteName>大连Sister人力资源有限公司</SiteName>
  <SiteTitle>KESION 智能建站系统V4.5(基于ASP.NET C#)</SiteTitle>
  <Domain>http://www.dlsisterhr.com</Domain>
  <InstallDir>/</InstallDir>
  <WebLogo>/images/logo.png</WebLogo>
  <FSOIndex>index.aspx</FSOIndex>
  <CacheTime>0</CacheTime>
  <SpecialFsoTF>0</SpecialFsoTF>
  <DefaultUpFileSize>10240</DefaultUpFileSize>
  <DefaultUpFileType>png|gif|jpg|bmp|doc|wav|swf|rar</DefaultUpFileType>
  <WebMaster>科兴</WebMaster>
  <OfficialInfo>12</OfficialInfo>
  <SiteKey>0</SiteKey>
  <CopyRight>Powered By KesionICMS V4.5 正式版 www.kesion.com inc .&lt;br /&gt;厦门科汛软件有限公司版权所有 © 2006-{$GetCurrYear} &lt;br /&gt; 
统一社会信用代码:91350206MA2XN2XQ4A  闽ICP备06009871号 
</CopyRight>
  <MetaKeyWords>&lt;meta name="Keywords" content="cms,cms系统,asp.net,asp系统,文章系统,新闻系统,网站管理系统,内容管理系统,科汛cms官方,网站管理,科汛在线考试系统NET版,科汛在线电子商务系统,Kesion网校系统"/&gt;</MetaKeyWords>
  <MetaDescript>&lt;meta name="Description" content="厦门科汛软件有限公司(KESION™)是CMS行业最流行的网站建设解决方案提供商之一。专业提供电子商务网站建设、在线考试系统网站建设、企业网站建设、教育及行业门户网站建设解决方案等于一体的高新技术企业。公司拥有自主知识产权品牌产品KesionCMS、KesionEShop、KesionEdu、KesionICMS、KesionIMALL及KesionIExam等系统。" /&gt;</MetaDescript>
  <IndexTemplate>{$TemplateDir}/网站首页.html</IndexTemplate>
  <SpecialIndexTemplate>{$TemplateDir}/专题页/专题首页.html</SpecialIndexTemplate>
  <UserIndexTemplate>{$TemplateDir}/user/会员首页.html</UserIndexTemplate>
  <ApiAutoCreateUser>1</ApiAutoCreateUser>
  <ApiDefaultGroupID>2</ApiDefaultGroupID>
  <SearchTemplate>{$TemplateDir}/全站搜索模板.html</SearchTemplate>
  <RwriteExtension>.aspx</RwriteExtension>
  <AutoCreateIndexTime>1</AutoCreateIndexTime>
  <PKIndexTemplate>{$TemplateDir}/PK模板/index.html</PKIndexTemplate>
  <PKContentTemplate>{$TemplateDir}/PK模板/pk.html</PKContentTemplate>
  <PKMoreTemplate>{$TemplateDir}/PK模板/more.html</PKMoreTemplate>
  <UserSystemTF>1</UserSystemTF>
  <UserBindDomain />
  <UserAllowRegTF>1</UserAllowRegTF>
  <EnabledRegField>group,detail,repassword</EnabledRegField>
  <UserRegVerifyTF>1</UserRegVerifyTF>
  <UserEmailMutiRegTF>0</UserEmailMutiRegTF>
  <UserMinChar>4</UserMinChar>
  <UserMaxChar>20</UserMaxChar>
  <NoAllowRegUserName>kesion|admin</NoAllowRegUserName>
  <UserLoginVerifyTF>1</UserLoginVerifyTF>
  <UserMutiLoginTF>0</UserMutiLoginTF>
  <UserPerMinLogin>0</UserPerMinLogin>
  <UserPerMinLoginAddScore>0</UserPerMinLoginAddScore>
  <UserRegAddMoney>0</UserRegAddMoney>
  <UserRegAddScore>0</UserRegAddScore>
  <UserRegAddPoint>0</UserRegAddPoint>
  <ScoreToPointRate>2</ScoreToPointRate>
  <ScoreToEdaysRate>0</ScoreToEdaysRate>
  <MoneyToPointRate>0</MoneyToPointRate>
  <MoneyToEdaysRate>0</MoneyToEdaysRate>
  <PointName>科汛币</PointName>
  <PointUnit>个</PointUnit>
  <ThumbsWidth>250</ThumbsWidth>
  <ThumbsHeight>0</ThumbsHeight>
  <WaterMarkType>1</WaterMarkType>
  <WaterMarkTxt>Www.Kesion.Com</WaterMarkTxt>
  <WaterMarkFontName>微软雅黑</WaterMarkFontName>
  <WaterMarkFontSize>14</WaterMarkFontSize>
  <WaterMarkFontColor>#000000</WaterMarkFontColor>
  <WaterMarkFontBgColor>#006699</WaterMarkFontBgColor>
  <WaterMarkFontStyle>Bold</WaterMarkFontStyle>
  <WaterMarkPic>/images/logo.png</WaterMarkPic>
  <WaterMarkTransParence>8</WaterMarkTransParence>
  <WaterMarkStatus>9</WaterMarkStatus>
  <SmtpServer>smtp.exmail.qq.com</SmtpServer>
  <SmtpPort>25</SmtpPort>
  <MailFrom>wfx@kesion.com</MailFrom>
  <MailUserName>wfx@kesion.com</MailUserName>
  <MailPassWord>Abc123321</MailPassWord>
  <TemplateDir>Template</TemplateDir>
  <UpFileDir>UploadFiles</UpFileDir>
  <FormFsoDir>html/form</FormFsoDir>
  <ADFsoDir>html/AD/JS</ADFsoDir>
  <JSFsoDir>JS</JSFsoDir>
  <InitialDataPerDay>0</InitialDataPerDay>
  <LabelChineseLenTF>0</LabelChineseLenTF>
  <AutoCreateJSTime>0</AutoCreateJSTime>
  <IsShowMarketing>1</IsShowMarketing>
  <AdminDir>manage</AdminDir>
  <EnableSiteManageCode>0</EnableSiteManageCode>
  <SiteManageCode>8888</SiteManageCode>
  <AdminExpireTime>2000</AdminExpireTime>
  <AdminKeyBoardTF>0</AdminKeyBoardTF>
  <NeedVerifyCodePage />
  <EnableSMS>0</EnableSMS>
  <SendSMSInterval>60</SendSMSInterval>
  <SendSMSSign>【KESION】 </SendSMSSign>
  <SpecialFsoDir>html/Special</SpecialFsoDir>
  <ShowAreaLeval>1</ShowAreaLeval>
  <RefreshPauseNum>500</RefreshPauseNum>
  <RefreshPauseTime>2</RefreshPauseTime>
  <RemoteAnnexTF>0</RemoteAnnexTF>
  <FtpServerIP>www.kesion.com</FtpServerIP>
  <FtpServerPort>21</FtpServerPort>
  <FtpServerUserName>0</FtpServerUserName>
  <FtpServerPassWord>0</FtpServerPassWord>
  <FtpRemoteAnnexDir>test/</FtpRemoteAnnexDir>
  <FtpRemoteAnnexUrl>http://www.kesion.com/test</FtpRemoteAnnexUrl>
  <FtpRemoteAnnexSize>0</FtpRemoteAnnexSize>
  <FtpDeleteLocalFile>0</FtpDeleteLocalFile>
  <ShopBindDomain />
  <GroupBuyBindDomain />
  <ShopProvinceID>13</ShopProvinceID>
  <ShopCityID>153</ShopCityID>
  <ShopCountyID>1538</ShopCountyID>
  <ShopOrderPrefix>KS</ShopOrderPrefix>
  <ShopPayPrefix>OP</ShopPayPrefix>
  <ShopDefaultPic>/sysimg/nopic.gif</ShopDefaultPic>
  <ShopThumbWidth>360</ShopThumbWidth>
  <ShopThumbHeight>0</ShopThumbHeight>
  <ShopPictureWidth>1000</ShopPictureWidth>
  <ShopPictureHeight>0</ShopPictureHeight>
  <ShopAllowVisitorsToBuy>1</ShopAllowVisitorsToBuy>
  <ShopPictureAddWaterMark>0</ShopPictureAddWaterMark>
  <ShopTaxTF>1</ShopTaxTF>
  <ShopTax>6</ShopTax>
  <ShopTemplates>{$TemplateDir}/商城系统/购物车.html#{$TemplateDir}/商城系统/订单信息.html#{$TemplateDir}/商城系统/订购成功.html#{$TemplateDir}/商城系统/品牌首页.html#{$TemplateDir}/商城系统/品牌详细.html#{$TemplateDir}/商城系统/抢购首页.html#{$TemplateDir}/商城系统/团购首页.html#{$TemplateDir}/商城系统/团购内容页.html#{$TemplateDir}/商城系统/团购购物车.html#{$TemplateDir}/商城系统/团购订单成功.html#{$TemplateDir}/网站首页.html#{$TemplateDir}/商城系统/团购选择城市.html#{$TemplateDir}/商城系统/往期团购.html#{$TemplateDir}/商城系统/商品比较.html#{$TemplateDir}/商城系统/积分兑换首页.html#{$TemplateDir}/商城系统/预约码申请.html#{$TemplateDir}/商城系统/竞价首页.html#########################0#78d745271ac3aa8c#1#10|2§200|25§500|60§1000|100#1#1#0#¥#元#一口价#0#0#2#0#0#0#0#1#1#6#2#1#2#1#0#0##2#0#0########1####7##0##1#1#2#Template3G##TemplateSpace##3#1##1#1#0#0#0#################################################</ShopTemplates>
  <ShopExpressInfo>厦门科汛软件有限公司§小陈§福建省厦门市§363000§12365245865§4000080263§厦门市§§§§</ShopExpressInfo>
  <GroupBuyChangeCityTF>1</GroupBuyChangeCityTF>
  <ShopNewOrderSms>1</ShopNewOrderSms>
  <ShopNewOrderMobile>121122</ShopNewOrderMobile>
  <ShopNewOrderEmailTF>0</ShopNewOrderEmailTF>
  <ShopNewOrderReceiveEmail>service@kesion.com</ShopNewOrderReceiveEmail>
  <ShopCommentTF>1</ShopCommentTF>
  <ShopCommentVerifyTF>0</ShopCommentVerifyTF>
  <ShopAskTF>1</ShopAskTF>
  <ShopAskVerifyTF>0</ShopAskVerifyTF>
  <ShopAskNoReplyShowTF>1</ShopAskNoReplyShowTF>
  <ShopPriceBit>2</ShopPriceBit>
  <G3Enabled>1</G3Enabled>
  <G3InstallDir>3g</G3InstallDir>
  <G3SiteName>手机版</G3SiteName>
  <G3Logo>/images/logo.png</G3Logo>
  <G3CopyRight>Copyright © 2006-{$GetCurrYear} Powered by Kesion.com，
科汛网络开发</G3CopyRight>
  <G3UserRegEnable>1</G3UserRegEnable>
</ConfigInfo>