<?xml version="1.0"?>
<JobConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <JobDomain />
  <JobName>招聘系统</JobName>
  <JobStatus>1</JobStatus>
  <JobInstallDir>Job</JobInstallDir>
  <JobSeoTitle>KESIONJob招聘系统</JobSeoTitle>
  <JobSeoKeyWords>科汛招聘系统</JobSeoKeyWords>
  <JobSeoDescript>KESIONIJob是科兴开发团队基于微软 .NET2.0 平台进行分层开发的在线考试系统，针对各类学校、企事业单位、政府部门和各种培训机构而设计的在线考试系统，全面实现了考试工作的网络化、无纸化、自动化。该系统采用新一代纯B/S架构，用于INTERNET和局域网在线考试，可以承载大规模在线考试的需求，而且对服务器的配置要求非常低，客户端不用任何设置。通过强大的后台设置功能，用户可以根据自身需要设定考试功能，几乎能满足企业、政府机构、教育单位的所有需求。</JobSeoDescript>
  <Settings>0#1#0#1#0#1#0#1#0#1#0#1#0#1#0#1#</Settings>
  <JobProvinceTF>0</JobProvinceTF>
  <Templates>{$TemplateDir}/课程系统/首页.html#{$TemplateDir}/课程系统/课程列表首页.html#{$TemplateDir}/课程系统/课程内容页.html#{$TemplateDir}/课程系统/面授显示页.html#{$TemplateDir}/课程系统/商城系统/信息页.html#{$TemplateDir}/课程系统/名师栏目页.html#{$TemplateDir}/课程系统/名师内容页.html#{$TemplateDir}/课程系统/心声栏目页.html#{$TemplateDir}/3g/Job/课程列表.html#{$TemplateDir}/3g/Job/内容页.html#{$TemplateDir}/课程系统/学习页.html#{$TemplateDir}/3g/Job/面授列表.html#{$TemplateDir}/3g/Job/名师频道页.html#{$TemplateDir}/3g/Job/名师内容显示.html#{$TemplateDir}/3g/Job/面授内容页.html#{$TemplateDir}/课程系统/企业栏目页.html###############51200#wma|wmv|mp3|mp4|swf|flv#rar|doc|zip########/UploadFiles/E130440752624143.jpg########0####10</Templates>
</JobConfigInfo>