<?xml version="1.0" encoding="utf-8"?>
<smsapi>
  <item id="1" default="true" encrypt="md5" encoding="gbk" name="掌翼信使" apiid="000" apikey="000" apiposturl="http://sdk.zyer.cn/SmsService/SmsService.asmx/SendEx" apipostparam="LoginName={$user}&amp;Password={$pass}&amp;SendSim={$mobile}&amp;MsgContext={$content}&amp;SmsKind=808&amp;ExpSmsId=" successtag="&lt;Code&gt;0&lt;/Code&gt;" applyurl="http://www.kesion.com" apibalanceurl="http://sdk.zyer.cn/SmsService/SmsService.asmx/GetBalance" apibalancebegintag="&lt;Balance&gt;" apibalancepostdata="LoginName={$user}&amp;Password={$pass}&amp;SmsKind=808" apibalanceendtag="&lt;/Balance&gt;" />
  <item id="2" default="false" encrypt="md532" encoding="utf-8" name="企信通" apiid="0" apikey="0" apiposturl="http://api.cnsms.cn/" apipostparam="ac=send&amp;uid={$user}&amp;pwd={$pass}&amp;mobile={$mobile}&amp;content={$content}&amp;encode=utf8" successtag="100" applyurl="http://www.cnsms.cn/" apibalanceurl="http://api.cnsms.cn/" apibalancebegintag="100" apibalancepostdata="ac=gc&amp;uid={$user}&amp;pwd={$pass}" apibalanceendtag="100" />
</smsapi>