<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GetBBSName}-发表话题</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="images/kesion.css" rel="stylesheet" type="text/css" />
<link href="{$GetInstallDir}images/home.css" rel="stylesheet" />
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/Kesion.Common.js" type="text/javascript"></script>

<script src="{$GetInstallDir}{$GetBBSInstallDir}/images/club.js"></script>
<script language="JavaScript">
		<!--
		function checkform(){
			if ('{KS:User:UserName}'=='' && {$PostVisitorTF}==0){
			 $.dialog.alert('对不起,请登录后再提问!',function(){showuserlogin();});
			 return false;
			}
			if ($("#content").val()=='' || $("#content").val()=='说两句^_^'){
			   $.dialog.alert("请输入话题!",function(){
				 $("#content").focus();
				});
				return false;
			}
		    if ({$MustVerifyCode}==1 && $("#VerifyCode").val()==''){
			   $.dialog.alert("请输入验证码!",function(){
				$("#VerifyCode").focus();
				});
				return false;
			}
			$("#postform").submit();
		}

		//-->
		</script>
</head>

<body>
{KS_T1_头部通用}
 
  <div class="clear blank20"></div>
     <div class="navigation"> {KS_T1_位置导航}</div>

  <div class="ftiemain">

    <div class="title"><h2>发表话题</h2></div>
    <div class="fatiebox">
	  <iframe name="_hideframe" style="display:none;"></iframe>
	<form name="postform" id="postform" method="post" action="post.aspx" target="_hideframe">
	   <input type="hidden" name="action" value="save">
	   <input type="hidden" name="files" id="files"/>
       <textarea id="content" name="content" onClick="checkcommentlength(this,{$MaxLen},'commentmax');setPos('content');" onkeyup="setPos('content')" onFocus="if (this.value=='说两句^_^'){this.value='';}" onBlur="if(this.value==''){this.value='说两句^_^';}" onKeyDown="checkcommentlength(this,{$MaxLen},'commentmax');" onKeyUp="checkcommentlength(this,{$MaxLen},'commentmax');">说两句^_^</textarea>
  
       <div class="bottom">
          <a href="javascript:;" onClick="showemot(this)" class="a1 repeat_a">表情</a>
          <a href="javascript:;"  onclick="$('.imagebox').toggle();" class="a2 repeat_a">图片</a>
         <!-- <a href="#" class="a3 repeat_a">视频</a>
          <a href="#" class="a4 repeat_a">附件</a>
		  -->
		  
		  <div{$DisplayBoard}> <strong>所属版面：</strong> {$ShowBoardOption}</div>
		  
          <span{$DisplayVerifyCode}>附加码 ：<input type="text" name="VerifyCode" id="VerifyCode" maxlength="6" class="textbox" style="width:60px"/>{$Show_VerifyCode} <i>请输入上图中字符</i></span> 
          <em><span id="commentmax">{$MaxLen}</span> </em>
          <a href="#" class="report" onclick="return(checkform(this));">立即发表</a>
          
       </div>
	   </form>
	   <div id="emot" style="display:none">{$ShowEmotList}</div>
       
       <div class="clear"></div>
	   
	   
	   
       <!--上传图片开始-->
       <div class="imagebox">
		 <script type="text/javascript">
          function  doSubmit(obj){ box=$.dialog({title:false,content:'请稍等，正在上传文件...'});}
          function uploadOk1(v){
            box.close();
            if ($("#files").val()==''){
              $("#files").val(v);
            }else{
              $("#files").val($("#files").val()+"§"+v);
            }
            $(".upshow").append("<li><img src='"+v+"'/></li>");
          }
         </script>
           <div class="upshow"></div>
           <iframe  src="{$GetInstallDir}user/include/autoupload.aspx?channelid=997&fun=top.uploadOk1" width="60" height="60" scrolling="no" frameborder="0"></iframe>
           <span class="tips">你最多可上传8张图片</span>
		</div> 
    </div>
	<!--上传图片结束-->
	
	
    
  </div>
  {KS_T1_尾部通用}
  </body>
</html>
