<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$GetClassName}-{$GetSiteTitle}</title>
<meta name="Keywords" content="{$GetClassMetaKeyWords}"/>
<meta name="Description" content="{$GetClassMetaDescript}" />
<script src="{$GetInstallDir}ks_inc/jquery.js"></script>
<script src="{$GetInstallDir}ks_inc/kesion.common.js"></script>
<link href="{$GetTemplateDir}/css/index.css" rel="stylesheet" type="text/css">
<script src="{$GetTemplateDir}/js/text.js" type="text/javascript"></script>
<script type="text/javascript" src="{$GetTemplateDir}/js/top.js"></script>
<script type="text/javascript"  src="{$GetTemplateDir}/js/nav.js"></script>
</head>

<body>
{KS_T1_企业头部通用}
<script  type="text/javascript"> 
$(".navbg").capacityFixed();
</script>
{KS_顶部图片}
<div class="annoce">
	<div class="mainano">
    	<div class="notice">
            <div class="t_news">
                <b>最新播报：</b>
                <ul class="news_li">
					{KS_T1_最新播报}
                </ul>
                <ul class="swap"></ul>
            </div>
        </div>
        <div class="inflow">
			<form method="post" action="{=GetRewriteUrl(search)}">
                   <input type="hidden" name="m" value="1"/>
                   <input type="text" name="key" value="搜索您感兴趣的内容关键字" class="searchbox" onfocus="if (value =='搜索您感兴趣的内容关键字')
    {value =''}" onblur="if (value ==''){value='搜索您感兴趣的内容关键字'}" />
                   <input type="submit" value="搜索"  class="searchbutton"/>
             </form>
        </div>
    </div>
</div>

<div class="related">
    <div class="relatedtitle">
        <span class="classification">产品分类</span>
        <span class="ustip font7">{$GetClassName}</span>
        <p>{KS_T1_位置导航}</p>
    </div>
</div>
<div class="relatedcontent">
		{KS_T1_左边联系我们}
    <div class="relatedright">
    	<h3>联系我们</h3>
    	<div class="track">
			<div class="map">{$GetClassIntro}</div>
            <div class="mapright">
				{KS_T1_手机版联系我们}
                <div class="clear"></div>
            
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear blank30"></div>
</div>


<!--底部通用 begin-->
{KS_T1_企业底部通用}
<!--底部通用 end-->

{KS_T1_右侧客服}

</body>
</html>
